nav {
    display: flex;
    justify-content: right;
    background-color: #004080;
    padding: 15px 0;
    border-radius : 0 0 10px 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 25px;
    padding: 8px 18px;
    border-radius: 5px;

}

nav a:focus, nav a:hover{
    background-color: #fff;
    color: #8B0000;
    text-decoration: none;
}